body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s;
}
code {
  font-family: source-code-pro, "Menlo", Monaco, Consolas, "Courier New",
    monospace;
}
.myStyle {
  font-size: 50px;
}
.fast {
  margin: 0 50px;
  border-top: 8px solid #1dcf9f;
  border-left: none;
  border-left: none;
  border-bottom: none;
  border-radius: 40px 40px 0 0;
  color: #1dcf9f;
}
.Easy {
  font-size: 70px;
}
.queues {
  font-size: 22px;
  color: black;
}
.rig {
  padding-right: 15%;
}
.sig {
  color: #1dcf9f;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.mx {
  float: left;
  width: 30%;
}
.hrs {
  width: 20%;
  border: 2px solid white;
}
.asd {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: none;
}
.ad {
  background: rgba(3, 250, 135, 0.226);
  border-radius: 15px;
  border: none;
}
.gose {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-23px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@media only screen and (max-width: 600px) {
  .myStyle {
    font-size: 30px;
    text-align: center;
  }
  .fast {
    margin: 0;
  }
  .Easy {
    font-size: 25px;
  }
  .queues {
    font-size: medium;
  }
  .rig {
    padding-right: 5%;
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: black;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
.scr {
  position: fixed;
  background: #5a7184;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 0px;
  border-radius: 40%;
  color: #fff;
  bottom: 10px;
  right: 10px;
  width: 70px;
  font-size: 40px;
  z-index: 1;
}
.ade {
  height: 1px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid white;
  border-right: 16px solid white;
  border-bottom: 16px solid white;
  border-left: 16px solid #210f60;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  float: right;
  animation: mo 2s infinite alternate;
}
@keyframes mo {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-3px);
  }
}
.goses {
  float: right;
  animation: move 2s infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.tet {
  color: black;
  text-decoration: none;
}
.tet:hover {
  color: black;
}
.alig {
  text-align: center;
}
